/* document root */
:root {
  /**
  * light theme colors
  */
  --primary: #002868;
  --primary_light: #586585;
  --secondary: #547C45;
  --secondary_light: #CFDACB;
  --text: #131D1E;
  --background: #FFFFFF;
  
  /**
  * font families
  */
  --font-plus-jakarta-sans: 'Plus Jakarta Sans';
}

body {
  font-family: var(--font-plus-jakarta-sans), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: var(--text);
  background-color: var(--background);
}

/* titles */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
  color: var(--text);
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

h1, .h1 {
  font-size: 64px;
}

h2, .h2 {
  font-size: 42px;
}

h3, .h3 {
  font-size: 32px;
}
ul,li{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
img{
  width: 100%;
}
a{
  display: block;
  text-decoration: none;
}
.dp_btn {
  padding: 18px 24px;
  border-radius: 14px;
  border: 1px solid var(--primary_light);
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary_light);
  text-decoration: none;
  background-color: transparent;
  transition: 300ms ease;
}

.dp_btn:hover {
  background-color: var(--primary_light);
  color: var(--background);
}

.dp_btn_primary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.dp_btn_primary:hover {
  background-color: var(--primary);
}

.reboot-list {
  padding: 0;margin: 0;list-style-type: none;
}

.section {
  padding-block: 75px;
}

/*====================================================================
                              Header Area CSS
====================================================================*/
.header-area{
  background: var(--background);
}
.header-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktop-menu ul{
  display: flex;
  align-items:center;
}
.desktop-menu ul li{
  margin-left: 20px;
}
.select-country{
  display: flex;
  align-items: center;
}
.header-btn .desktop-menu ul li img{
  width: 30px;
}
.menu-btn{
  max-width: 127px;
  width: 100%;
  height: 60px;
}
.menu-btn a{
  display: flex;
  align-items: center;
}



/*====================================================================
                              Banner Area CSS
====================================================================*/

/* =============================================================================================================*/


.section_header {
  margin-bottom: 100px;
}

.section_header .title {
  color: var(--primary);
  font-weight: 700;
  text-transform: uppercase;
}

.section_header .tag {
  color: var(--text);
  font-size: 24px;
  font-weight: 700;
}

.section_header .text {
  color: var(--primary_light);
}

.accordion {
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-padding-y: 48px;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
  /* --bs-accordion-border-width: 0; */
  --bs-accordion-active-color: var(--text);
  --bs-accordion-active-bg: transparent;
  --bs-accordion-color: var(--text);
  --bs-accordion-bg: var(--background);
  --bs-accordion-border-color: var(var(--primary_light));
  --bs-accordion-btn-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>');
  --bs-accordion-btn-active-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/></svg>');
  --bs-accordion-btn-icon-width: 2rem;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-body-padding-y: 0;
}

.accordion-item {
  border-color: transparent transparent var(--bs-accordion-border-color) transparent;
}

.accordion-item:last-of-type {
  border-color: transparent;
}

.accordion-item:has(.accordion-button:not(.collapsed)) {
  border-color: transparent;
  padding-bottom: 0;
}

.accordion-button {
  gap: 1rem;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}
/*====================================================================
                              Features_section Area CSS
====================================================================*/
.features_section .content h3 {
  font-weight: 700;
  color: var(--primary);
  line-height: 1.7;
}

.features_section .features__items {
  border-left: 1px solid var(--primary_light);
  height: 100%;
  padding-left: 12%;
  display: grid;
  gap: 32px;
}
/*====================================================================
                              Faq_section Area CSS
====================================================================*/
.faq_section .banner-img {
  width: 100%;
}

/*====================================================================
                        Get_started_section Area CSS
====================================================================*/
.get_started_section {
  background-color: var(--secondary_light);
  position: relative;
  margin-top: -3%;
}

.get_started_section h2 {
  margin-bottom: 72px;
}